#gitignore for a Python project

#project notes
notes.md
notes.pdf


#duplicate test files
duplicated_files

# Byte-compiled / optimized / DLL files
__pycache__/
**.csv
**.coverage
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
pip-wheel-metadata/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment and dependency files
.env
.env.*
*.env

# Logs
logs/
*.log

# Test, split, and processed data (if/when added)
data/*
!data/.gitkeep
!data/raw

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
.cache/
.coverage
htmlcov

# VSCode and other IDE config
.vscode/
.idea/

# Mlflow and WandB tracking files
mlruns/
wandb/

# Hydra outputs
outputs/
/data